<h1>My Family Gallery</h1>
<br/>


<div class="col-lg-12" style="width: 600px;">

	<%= image_tag("me4.jpg",:style => "width: 300px; height: 500px; float:right;", class:"col-lg-6") %>

	<%= image_tag("me3.jpg",:style => "width: 300px; height: 500px;float:left;",class:"col-lg-6") %>


</div>
<div class="col-lg-12" style="width: 600px;">

	<%= image_tag("me1.jpg",:style => "width: 300px; height: 500px; float:right;", class:"col-lg-6") %>

	<%= image_tag("me2.jpg",:style => "width: 500px; height: 500px;float:left;",class:"col-lg-6") %>


</div>

<div class="col-lg-12" style="width: 600px;">

	<%= image_tag("me.jpg",:style => "width: 300px; height: 500px; float:right;", class:"col-lg-6") %>

	<%= image_tag("me5.jpg",:style => "width: 300px; height: 500px;float:left;",class:"col-lg-6") %>


</div>

<div class="col-lg-12" style="width: 600px;">

	<%= image_tag("me6.jpg",:style => "width: 300px; height: 500px; float:right;", class:"col-lg-6") %>

	<%= image_tag("me7.jpg",:style => "width: 300px; height: 500px;float:left;",class:"col-lg-6") %>


</div>



